*{
    padding: 0;
    margin: 0;
}

.form-style{
    display: flex;
    justify-content: center;
    margin:3em auto;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.sign-form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:1em ;
    border: white solid 1px;
    /* border-radius: 5px; */
    padding: 4em;
    box-shadow: grey 2px 5px 20px 3px;
    width: 30%;
    height: 55%;
}
.sign-form input{
text-align: center;
border-radius: 3px;
height: 90%;
border:solid rgb(190, 187, 187) 2px;
color: black;
}
.sign-form button{
    background-color: rgb(77, 79, 148);
    border:rgb(77, 79, 148) solid 2px;
    color: white;
    border-radius: 3px;
    height: 85%;
}
.sign-form button:hover{
    background-color: rgb(58, 60, 119);
    border:rgb(58, 60, 119) solid 2px;
}
.sign-form a{
    color: rgb(108, 108, 214);
}