*{
    margin: 0;
    padding: 0;
}
.container{
    
   width: 100%;
   background-color: rgb(77, 79, 148);
}

.style-nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
   padding: .8em;
   width: 95%;
}
.style-nav a{
    color:white;
    text-decoration: none;
}
.style-nav div ul li{
    text-decoration: none;
    list-style: none;
}
.style-nav div ul a{
    text-decoration: none;
    color: white;
}
.container-ul{
    width: 50%;
}
.mid-nav{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 80%;
}